body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Filtro{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: antiquewhite;
  background-color: black;
}

.inputs {
height: 200;
display: flex;
flex-direction:column;
margin: 20px;

}

.inputs input{
  display: block;
  width: 700px;
  margin-block: 10px;
}

button{
  background-color: blue;
  color: white;
  border-radius: 2px;
}

.List{
  margin: 20px;
}